!!! 5
%html{lang:'en'}
  %head
    %meta{ charset:'utf-8' }
    %meta{ name:'viewport', content:'width=1024' }
    %meta{ name:'apple-mobile-web-app-capable', content:'yes' }
    %title
      Refactoring Considered Harmful

    %meta{ name:'description', content:'A brief, interactive presentation on the evils of refactoring' }
    %meta{ name:'author', content: 'Tyler Pickett' }

    %link{href:"http://fonts.googleapis.com/css?family=Average+Sans|Montserrat+Alternates|Strait|Montserrat|Sigmar+One", rel:"stylesheet"}

    %link{ rel: "stylesheet", href: "css/harmful.css" }
    %link{ rel: 'shortcut icon', href:'favicon.png' }
    %link{ rel: 'apple-touch-icon', href: 'apple-touch-icon.png' }

  %body.impress-not-supported
    .fallback-message
      %p
        Your browser
        %b doesn't support all of the features required
        by impress.js, so you are presented with a simplified version of this presentation.
      %p
        For the best experience please use the latest version of Chrome, Safari or Firefox

    #impress
      #fake-title.step{"data-x"=>"0", "data-y"=>"0", "data-scale"=>2}
      #title.step{"data-x"=>"0", "data-y"=>"0", "data-scale"=>2}
        .not
          Not
        Refactoring
        %br
        Considered
        %br
        Harmful

      #whoami.step{"data-x"=>"0", "data-y"=>"1024"}
        Tyler Pickett
        %br
        Twitter/Github: tpickett66

      #what.step{"data-x"=>"1536", "data-y"=>"1024", "data-rotate"=>"90", "data-scale"=>"2"}
        What?
    %script{src: 'js/impress.js'}
    :javascript
      impress().init();
